@charset "utf-8";
@import "../css/floating-inputs";




/*
------------------------------------------------------------
Project Name : Sample Project;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
.window-resizing *, body:not(.page-loaded) *{transition: none!important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px;font-family: 'Poppins', sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;}
.wrapper { min-height: 100vh; }
 a { color: #000; text-decoration: none; } 
a:hover { color: #999; text-decoration: none; }
// h1, h2, h3, h4, h5, h6 { line-height: 1.2em; padding: 0 }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 { font-size: 65px; font-weight: 300; line-height: 70px;}
h2 { font-size: 30px; font-weight: 600; line-height: 45px;}
h3 { font-size: 35px; font-weight: 500; line-height: 52px;}
h4 { font-weight: 400;font-size: 22px;line-height: 28px;}
h5 { font-weight: 400;font-size: 20px;line-height: 30px;}
h6 { font-weight: 400;font-size: 18px;line-height: 27px;}
p { padding: 0 0 20px; }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #A5A5A5;; }
::-moz-placeholder { color: #A5A5A5; }
:-ms-input-placeholder { color: #A5A5A5;; }
:-moz-placeholder { color: #A5A5A5;; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }

.upper-case{text-transform: uppercase;}
.form-control{color:  $color;}
.form-floating>label{padding: 13px;}
.show-password{position: absolute;right: 5px;top: 10px;display: block;padding: 6px;border: none;}
.form-control.is-invalid,.form-control.is-invalid:focus, .was-validated .form-control:invalid, .form-control,.form-control:focus{box-shadow: none; background-image: none;}

@mixin floating-label{width: fit-content;height: fit-content;padding: 0px 5px;background-color: #ffffff;left: 2px;transition: all 0.2s ease;}
.form-floating>.form-control:focus~label,.form-floating>.form-control:not(:placeholder-shown)~label,.form-floating>.form-select~label {@include floating-label}
.error-input .form-floating>.form-control:focus~label,.error-input .form-floating>.form-control:not(:placeholder-shown)~label,.error-input .form-floating>.form-select~label {@include floating-label;color: $danger;}


/* Login
------------------------------------------------------------------------------------------------------- */
.login-wrapper{ background-image: url(/images/login-banner.png); min-height: 100vh; background-repeat: no-repeat; background-position: center;background-size: cover; position: relative; padding: 82px 81px 53px 80px ;
    footer{a{color: #ffffff;}}}
.about-company{ color: #ffffff;
        b{font-weight: 700;}}
.company-login{ background-color: #ffffff;padding: 38px 44px 35px 42px ;}
.inputs{margin: 10px 0px;}
.new-account{margin-top: 15px;}
.new-account,.forgot-pass{font-weight: 400;font-size: 14px;line-height: 21px;}
.sign-up{color:$primary ;font-weight: 500;}
// .vh{height: 70%;}
// .form-col{max-width: 479px;}
.middle-row{max-width: 1430px;}
.pptc {
    a{color: #ffffff; transition: all 0.3s ;
        &:hover,&:focus{color:#505050;}}
    }
.privacy{margin-right: 20px;}
.btn:focus{box-shadow: none;}

/* Sidebar
--------------------------------------------------------------------------------------------------------*/
.sidebar-open .sidebar {flex-shrink: 1;margin-left: -246px;}
body.toggle-sidebar { overflow: hidden;}
.sidebar{min-width: 246px; background-color: $primary; color: #ffffff; padding-top: 30px; padding-left: 10px;font-weight: 500;font-size: 16px;line-height: 24px;flex-grow: 0;margin-left: 0px;flex-shrink: 0;flex-basis: 246px;z-index: 0;overflow-y: auto;transition: all 0.2s ease; visibility: visible;
    .nav-logo{padding-left:20px ;margin-bottom: 57px;}
    ul{
        .nav-list{ border-radius: 50px 0px 0px 50px;
            &:hover,&:focus{background-color: rgba(255,255,255,0.2);}
            .nav-link{  height: 44px; display: flex; padding:13px 20px; align-items: center;
                span{margin-left: 10px;}
                }
                
            .upper-curves{position: absolute; top: -25px; left: 201px;}
            .lower-curves{position: absolute; top: 22px; left: 201px;}
                }
            .active{background-color: #F9FFFF; border-radius: 20px 0px 0px 20px; color: $primary;  position: relative;
                .default{display: none;}
                .icon-active{display: inline-flex;}
                &:hover,&:focus{background-color: #F9FFFF;}
            }
            .icon-active{display: none;}

        }} 



/* Header
--------------------------------------------------------------------------------------------------------*/
.search-input{ margin-left: 18px;position: relative;
    .form-control {border: 1px solid transparent;color: #000;background: url("/images/search.svg") no-repeat;background-position: 12px center;padding: 12px 16px 12px 35px;
    &:focus,&:hover{border: 1px solid $primary}}}
.dashboard-container{ height: 100%; }
header{height: 71px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);background-color: #ffffff; padding: 0px 30px;
    .btn-search{display: none;}
    .btn-close-search{display: none;}}
.dropdown-toggle::after { content: none; }
.profile-name{margin: 0px 12px;}
.notify{margin-right: 28px;}
.menu-btn,.dropdown-toggle{padding: 3px 4px ;}

.dropdown-menu{padding: 9px 20px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    .dropdown-item{font-weight: 400;font-size: 15px;line-height: 22px;}}
.header .dropdown-toggle:hover,.dropdown-toggle:focus,.dropdown-toggle:active,.btn-search:hover,.btn-search:focus,.menu-btn:hover,.menu-btn:focus {background-color: rgba(0,0,0,0.05);border-radius: 5px}
.header .dropdown-item:hover,.header .dropdown-item:focus,.header .dropdown-item:active {background-color: #f1f1f1;border-radius: 5px;color: #505050;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.content{background: linear-gradient(180deg, #EEFFFF 0%, rgba(238, 255, 255, 0) 100%); padding: 39px 30px 43px 30px;}
.right-dashboard{flex-grow: 0;flex-shrink: 0;flex-basis: calc(100% - 246px);    max-width: calc(100% - 246px);z-index: 1;transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);}
.sidebar-open .right-dashboard {flex-basis: calc(100%);max-width: calc(100%);flex-grow: 1;}
.content-title{font-size: 30px; font-weight: 500; line-height: 45px;}
.dash-detail,.sale-graph,.seller-chart,.report-chart,.employee-info{background-color: #ffffff;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);}
.dash-detail{padding: 30px 27px 30px 30px; height: 100%;
    img{height: fit-content;}
    .stat-name{}
    .differ,.interval{font-weight: 400;font-size: 12px;line-height: 18px; width: fit-content; padding: 1.5px 8px;}
    .positive{background: #EEFFFF;border-radius: 5px;color: $primary;}
    .negative{background: #FFF2F2;border-radius: 5px; color: $danger;}}
.col{padding: 15px;}
.sale-graph{padding: 24px 30px 27px 28px;}
.seller-chart{padding: 30px;}
.sale-graph,.seller-chart{height: 100%;}
.mt-10p{margin-top: 10px;}

@mixin cat-dots{box-sizing: border-box;display: block;content: "";width: 14px;height: 14px;top: 18px;margin-left: -24px;position: relative;border-radius: 50%;}

.cats{ padding-left: 25px; font-size: 14px; font-weight: 400; line-height: 21px;
    p{padding:0px;}
    .bg-blue::before {@include cat-dots;background: $primary;}
    .bg-orange::before {@include cat-dots;background: $orange;}        
    .bg-white::before {@include cat-dots;background: $blue-white;}} 
.legend{
    .btn{padding: 0px;}}
.employee-info{margin-top: 15px;}
.table,.legend .btn {margin-bottom: 0px;font-size: 14px;font-weight: 400;line-height: 21px;}
.table thead {color: #ADADAD;white-space: nowrap;}
.table>:not(caption)>*>* {padding: 12px;border-bottom: 0px;vertical-align: middle;}
.table> :not(:first-child) {border-top: 0;}
.table>tbody tr {border-top: 1px solid rgba(165, 165, 165, 0.2);color: #000000;vertical-align: middle;white-space: nowrap;}
td:last-child,th:last-child{display: flex; justify-content: center;}
.action .dropdown-toggle{padding: 3px 14px 0px;}



/* Market
--------------------------------------------------------------------------------------------------------*/
.market-form{box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);background-color: #ffffff;padding:24px 30px ;margin-top: 22px;
    .row-title{font-size: 22px; line-height: 33px; font-weight: 500; margin-bottom: 20px ;}}
.market-form h6{font-weight: 400; line-height: 24px; font-size: 16px;}

@mixin btn-font{font-weight: 600;font-size: 18px;line-height: 27px;}
.btn-outline-primary{@include btn-font}
.btn-primary{ @include btn-font; color: #ffffff;}
.btn-disabled{ @include btn-font; background-color:  #f0f0f0 !important;border: none;}
button{background: transparent; border: none; padding: 0;}

.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover,.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active {border-color: transparent;color: #505050;margin-bottom: -1px;}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active {border-bottom: 1px solid $primary;color: $primary;font-weight: 400;}
.market-form .nav-link {color: #A5A5A5;font-size: 16px;line-height: 24px;padding: 14px 18px;}
.nav-tabs {border-bottom: 1px solid rgba(0, 0, 0, 0.2);}
.tab-content {margin-top: 25px;}
.tab-pane {font-size: 16px;line-height: 28px;color: rgba(0, 0, 0, 0.7);font-weight: 400;}
.uploadbutton{padding-top: 15px;
    .upload{border-radius: 5px;padding: 10px 19px; background-color: #F6F6F6;
        .text{color:#6D6D6D;padding-left: 7px; }}
    .nis{padding-left: 0px;text-transform: capitalize;}}
.hint{width: 100%;margin-top: 0.25rem;font-size: 0.875em;color: #A5A5A5;}
.mr-40p{margin-right: 40px}
.p-btn{padding: 9px 30px;}
.pl-15p{padding-left: 15px;}
/* index-new-------*/
.company-login-logo-new{max-width: 256px;max-height: 54.68px;}


/* Footer
--------------------------------------------------------------------------------------------------------*/
// .footer { position: absolute; text-align: center; bottom: 10%; right:10%;

// .copyright { padding: 0; color: #fff; font-size: 0.8em; line-height: 1.2em; }

/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1399px) { }
@media (max-width:1199px) {
    .cats{ padding-left: 20px; font-size: 12px; font-weight: 300; line-height: 18px;
        p{padding: 0px 0px 6px 0px;}
        .bg-blue::before,.bg-orange::before ,.bg-white::before  {width: 13px;height: 13px;}}}
@media (max-width:991px) { 
    .overlay {position: fixed;transition: all 0.2s ease;top: 0;bottom: 0;left: 0;z-index: 29;visibility: hidden;background: rgba(0, 0, 0, 0.4);display: block;opacity: 0;right: 0;}
    .sidebar {position: fixed;margin-left: -246px;z-index: 30;}
    .sidebar-open .overlay {visibility: visible;opacity: 1;}
    .sidebar-open .sidebar {margin-left: 0;height: 100%;}
    body.sidebar-open {overflow: hidden;}
    .right-dashboard {max-width: 100%;flex-basis: 100%;flex-grow: 0;}
    .upper-curves{display: none;}
    .lower-curves{display: none;}
    .login-wrapper{align-items: center;}
    // .form-col{max-width: 80%;}
}
@media (max-width:767px) {
    .content{padding: 25px};
    h1{ font-size: 55px; line-height: 60px;}
    .dash-detail,.sale-graph,.seller-chart {padding: 20px;}
    .search-open .header {
        .search-input {position: fixed;top: 0px;left: 0px;right: 0;padding: 16px 50px;z-index: 1;background-color: #ffffff;transition: all 0.2s ease;margin-left: 0px;}
        .form-control {width: 100%;display: block;border: 1px solid $primary;}
        .btn-close-search {position: absolute;top: 28px;right: 60px;display: block;transition: all 0.2s ease;}
    }
    .header .btn-search {display: block;}
    .header .form-control {display: none;}
    .btn-close-search img {width: 15px;height: 15px;display: block;}
    .login-wrapper{align-items: center;}
 }
@media (max-width:575px) { 
    .login-wrapper{ padding: 25px;}
    h1{ font-size: 45px; line-height: 50px;}
    h2 { font-weight: 500;font-size: 20px;line-height: 30px;}
    h3 {font-size: 25px;font-weight: 500;line-height: 35px;}
    h5 { font-weight: 300;font-size: 15px;line-height: 20px;}
    h6{font-weight: 400;font-size: 15px;line-height: 23px;}
    .btn-primary{font-weight: 400;font-size: 16px;line-height: 24px; color: #ffffff;}
    .content{padding: 20px};
    .interval {font-weight: 300;font-size: 10px;line-height: 15px;padding: 1px 5px;}
    .search-open .header .search-bar {padding: 16px;}
    // .search-open .header .btn-close-search {right: 30px;}
    .market-form{ padding: 20px;}
}

